.heroSectionContainer {
  width: 100%;
  position: relative;
  padding-top: 0.5rem;
  max-width: 1200px;
  margin: auto;
}

.heroBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}

.title {
  color: var(--clr-primary);
  width: 100%;
  font-family: var(--ff-secondary);
  font-size: 2rem;
  font-weight: var(--fw-bold);
  text-align: center;
  padding-bottom: 1.5rem;
}

.subtitle {
  color: var(--clr-secondary);
  font-family: var(--ff-primary);
  font-weight: var(--fw-semibold);
  font-size: 1.25rem;
  text-align: center;
  padding-bottom: 1.5rem;
}

.avatar {
  width: 9.5rem;
  margin: 2rem 0;
}

.footerContainer {
  padding: 0 1rem;
  max-width: 860px;
  margin: auto;
  position: relative;
  bottom: -0.3rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .avatar {
    width: 13.125rem;
  }
}

@media (min-width: 1024px) {
  .heroSectionContainer {
    max-width: 1200px;
    margin: auto;
  }

  .title {
    font-size: 3rem;
  }

  .heroBody {
    margin: 0 auto;
  }
}
