.navbarContainer {
  width: 100%;
  height: auto;
  background-color: var(--clr-white);
  position: relative;
  z-index: 9999;
}

.navbar {
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 0;
  left: -2rem;
  z-index: 9999;
  padding: 3rem 0 0;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.active {
  opacity: 1;
}

.welcome {
  display: inline;
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-weight: var(--fw-semibold);
  transition: all 5s ease-in;
}

.btn {
  display: inline;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: 2px solid var(--clr-accent);
  border-radius: 9999px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.btn > a {
  color: var(--clr-accent);
  text-decoration: none;
  font-family: var(--ff-primary);
  font-weight: var(--fw-semibold);
  font-size: 1.125rem;
}

.btn:hover {
  background-color: var(--clr-accent);
}

.btn:hover * {
  color: var(--clr-white);
}

.bannerContainer {
  width: 28%;
  height: auto;
}

.bannerItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.curriculum > a {
  color: var(--clr-primary);
  text-decoration: none;
  font-family: var(--ff-primary);
  font-weight: var(--fw-semibold);
  font-size: 1rem;
  transition: all 0.2s ease-in;
}

.curriculum > a:hover {
  text-decoration: underline;
}

.languageSelector {
  width: auto;
  height: auto;
}

.languageSelector > span {
  color: var(--clr-accent);
  font-family: var(--ff-primary);
  font-weight: var(--fw-semibold);
  font-size: 1rem;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.languageSelector > span:hover {
  text-decoration: underline;
}

.flagContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in;
}

.flagContainer.active {
  opacity: 1;
  visibility: visible;
}

.flag {
  width: 1.5rem;
  height: auto;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.navToggle {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -3rem;
  right: 0;
  cursor: pointer;
  margin: 0 0.2rem 0;
  z-index: 100;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
}

.navToggle:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.line {
  width: 1rem;
  height: 1px;
  background-color: var(--clr-primary);
  margin-bottom: 0.23rem;
  transform-origin: center;
  transition: all 0.2s ease;
}

.line:last-child {
  margin-bottom: 0;
}

.line:nth-child(1).isActive {
  transform: translateY(3px) rotate(45deg);
}

.line:nth-child(2).isActive {
  display: none;
}

.line:nth-child(3).isActive {
  transform: translateY(-2px) rotate(-45deg);
}

@media (min-width: 1024px) {
  .navbarContainer {
    max-width: 1200px;
    margin: 0 auto;
  }

  .navbar {
    width: 100%;
    height: 2rem;
    background-color: transparent;
    opacity: 1;
    flex-direction: row;
    justify-content: flex-end;
    top: -5.1rem;
    left: 0;
  }

  .bannerContainer {
    position: absolute;
    top: -0.1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .curriculum > a {
    color: var(--clr-accent);
  }

  .separator {
    display: block;
    width: 1px;
    height: 1rem;
    background-color: var(--clr-accent);
  }

  .bannerItems {
    flex-direction: row;
  }

  .navToggle {
    display: none;
  }
}
