.heroSectionContainer {
  width: 100%;
  position: relative;
  top: .25rem;
}

.titleContainer {
  margin-bottom: 1.5rem;
}

.title {
  color: var(--clr-primary);
  width: 100%;
  font-family: var(--ff-secondary);
  font-size: 2rem;
  font-weight: var(--fw-bold);
  text-align: center;
}

.subtitleContainer {
  margin-bottom: 1.5rem;
}

.subtitle {
  color: var(--clr-secondary);
  font-family: var(--ff-primary);
  font-weight: var(--fw-semibold);
  font-size: 1.25rem;
  text-align: center;
}

.avatarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.avatar {
  width: 10rem;
  margin-top: 2rem;
}

.footerContainer {
  margin: 4rem 1rem 0 1rem;
}