.myWorkContainer {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: 7rem;
}

.myWorkTitle {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
  font-size: 1.5rem;
  padding: 1rem;
}

.myWorkText,
.link {
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-size: 1.25rem;
  font-weight: var(--fw-semibold);
}

.link {
  color: var(--clr-lightblue);
}