.navContainer {
  width: 100%;
  height: auto;
  padding: 0 1rem;
  position: relative;
  top: 2rem;
}

.navBarLogo {
  width: 3.5rem;
  cursor: pointer;
}

.navToggle {
  width: 2rem;
  height: 2rem;

  position: absolute;
  top: 1rem;
  right: 0;
}

.line {
  width: 1rem;
  height: 1px;
  background-color: var(--clr-primary);
  margin-bottom: .23rem;
  transform-origin: center;
  transition: all .2s ease;
}

.line:nth-child(1).isActive {
  transform: translateY(0px) rotate(45deg);
}

.line:nth-child(2).isActive {
  display: none;
}

.line:nth-child(3).isActive {
  transform: translateY(-5px) rotate(-45deg);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  height: 0;
  transition: all .2s ease-in;
}

.container.active {
  height: 8rem;
  opacity: 1;
  transition: all .2s ease-in;
}

.welcome {
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  padding: 1rem;
  font-weight: var(--fw-semibold);
  transition: all 5s ease-in;
}

.btn {
  background-color: transparent;
  padding: .5rem 1rem;
  border: 2px solid var(--clr-accent);
  border-radius: 9999px;
  transition: all .2s ease-in;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.btn>a {
  color: var(--clr-accent);
  text-decoration: none;
  font-family: var(--ff-primary);
  font-weight: var(--fw-semibold);
  font-size: 1.125rem;
}

.btn:hover {
  background-color: var(--clr-accent);
}

.btn:hover * {
  color: var(--clr-white);
}

@media(min-width: 1024px) {
  .navContainer {
    top: 2rem;
    max-width: 1200px;
    margin: auto;
  }

  .line {
    display: none;
  }

  .container {
    opacity: 1;
    position: absolute;
    right: 1rem;
    top: 2.2rem;
    flex-direction: row;
  }
}