.navToggle {
  width: 2rem;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lineOne,
.lineTwo,
.lineThree {
  width: 1rem;
  height: 1px;
  background-color: var(--clr-primary);
  margin-bottom: .23rem;
}

.lineThree {
  margin-bottom: 0;
}