.messageContainer {
  width: 70%;
  height: 87.3vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: auto;
  padding-top: 3rem;
  position: relative;
}

.buttonsContainer {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.submitIcon {
  width: 5.625rem;
  height: auto;
}

.submitTitle {
  color: #343a40;
  font-family: var(--ff-primary);
  font-size: 2rem;
  text-align: center;
  font-weight: var(--fw-bold);
  line-height: 1.3;
  padding: 1rem 0;
}

.submitText {
  color: #242739;
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  text-align: center;
}

.footerContainer {
  width: 100%;
  height: 6.5rem;
  background-color: #242739;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.reactLogo {
  width: 2rem;
  height: auto;
  margin: 0 0.5rem;
}

.copyright {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}

.copyright,
.copyright > span {
  color: var(--clr-white);
  font-family: var(--ff-primary);
}

.copyright > span::before {
  content: "\00a9";
  font-size: 1.5rem;
  padding: 0 0.2rem;
}

.footer {
  display: flex;
  align-items: center;
}

.footer > span {
  color: var(--clr-white);
  font-family: var(--ff-primary);
  line-height: 3;
}

.submitContainer {
  width: 100%;
  height: 100vh;
  background-color: var(--clr-white);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 5s ease-in;
  opacity: 0;
}

.showMessage {
  opacity: 0;
}

@media (min-width: 768px) {
  .submitTitle {
    font-size: 2.5rem;
  }
}
