.messageContainer {
  width: 70%;
  height: 87.3vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: auto;
  padding-top: 3rem;
  position: relative;
}

.submitIcon {
  width: 5.625rem;
  height: auto;
}

.submitTitle {
  color: #343a40;
  font-family: var(--ff-primary);
  font-size: 2rem;
  text-align: center;
  font-weight: var(--fw-bold);
  line-height: 1.3;
  padding: 1rem 0;
}

.submitText {
  color: #242739;
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .submitTitle {
    font-size: 2.5rem;
  }
}
